* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(0, 0, 0);
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

/* #page1 {
    height: 100%;
    width: 100%;
    background-color: rgb(255, 195, 84);
    display: flex;
    justify-content: center;
    align-items: center;
}

#page2 {
    height: 100%;
    width: 100%;
    background-color: rgb(0, 183, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
}

#page3 {
    height: 100%;
    width: 100%;
    background-color: rgb(4, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    height: 300px;
    width: 300px;
    background-color: red;
}

h1 {
    font-size: 50px;
    position: relative;
    background-color: red;
    padding: 10px 20px;
}

h2 {
    font-size: 50px;
    position: relative;
    background-color: greenyellow;
    padding: 10px 20px;
} */


#page1{
    height: 100%;
    width: 100%;
    background-color: black;
}
#page2{
    height: 100%;
    width: 100%;
    background-color: lightblue;
    padding: 5vw 0;

}
#page3{
    height: 100%;
    width: 100%;
    background-color: black;
}

#page2 h1{
    font-size: 35vw;
    text-transform: uppercase;
}