* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: white;
}

html,
body {
    height: 100%;
    width: 100%;
}

#main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#cursor{
    height: 15px;
    width: 15px;
    background-color: #d1ff71;
    border-radius: 50%;
    position: fixed;
    font-size: 4px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}

#image{
    background-color: red;
    width:60vw ;
    height: 40vh;
    position:relative;
}

#image img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}